{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}
  <p>Hi {{ user.username }}!</p>
  <p><a href="{% url 'password_change' %}">Password Change</a></p>
  <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
  </form>

  <a href="{% url 'add_todo' %}">Add TODO</a>
  
  {% for toDo in toDos %}

  <div class="todo">
    <h2>{{toDo.title}}</h2>
    <p>{{toDo.desc}}</p>
    <p>Created by: {{toDo.user.username}}</p>
    <p>Created on: {{toDo.dateCreated}}</p>
    <p>Last modified: {{toDo.lastModified}}</p>
    <p>Position: {{toDo.position}}</p>
    <p>Number of Tasks: {{toDo.numOfTasks}}</p>
    <p>Access Level: {{toDo.accessLevel}}</p>
    <a href="view_todo/{{toDo.id}}">View</a>
    {% if toDo.accessLevel == "W" %}
      <a href="edit_todo/{{toDo.id}}">Edit</a>
      <a href="_remove{{toDo.id}}">Remove</a>
      <!-- TODO add remove confirmation using JQuery -->
      {% if toDo.user == user %}
        <a href = "share_todo/{{toDo.id}}">Share</a>
        <p>Shared with:</p>
        <ul> 
          {% for user in toDo.sharedUsers %}
            <li>{{user.username}} <a href="_unshare{{toDo.id}}_{{user.id}}">Unshare</a></li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endif %}
    <!-- TODO maybe remove the share todo link and get a popup using jQuery? -->
  </div>
    
  {% endfor %}

{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>

{% endif %}
{% endblock %}